
@media(max-width: 425px) {

    #nav-bar {
        position: relative;
        background-color:  rgb(30, 25, 59);
    }
    #name h1 {
        color: orange;
    }
    #home {
        margin: auto;
        max-width: 425px;
    }
    .nav-container {
        display: flex;
        flex-direction: column;
    }
    .sub-nav ul {
        margin: auto;
        max-width: 410px;
        display: flex;
        flex-direction: column;
        text-align: center;
        padding-top: 20px;
    }
    #main-header {
        height: 100px !important;
    }
    #main-header h1, #main-header h2 {
        font-size: 1.4rem;
    }
    #main-header h1 {
        padding-top: 50px;
    }
    .languages-grid {
        display: flex;
        flex-direction: column;
    }
    .percent {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }
    .responsive {
        width: 100%;
        max-width: 420px;
        height: 300px;
    }
    .work ul {
        display: flex;
        flex-direction: column;
    }
    .project1 {
        margin: auto;
    }
    .allrights {
        font-size: 0.8rem;
    }

}

@media only screen and (max-width: 600px) {
    
    .languages-grid {
        display: flex !important;
        flex-direction: column;
    }
    .work ul {
        display: flex;
        flex-direction: column;
    }
}

@media only screen and (max-width: 768px) and (min-width: 601px) {

    .work ul {
        margin: auto;
        max-width: 750px;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(3, 1fr);
    }
    .work ul li {
        padding-bottom: 30px;
    }
    .responsive {
        width: 100%;
        max-width: 340px;
        height: 300px;
    }
}

@media only screen and (min-width: 769px) and (max-width: 992px) {
    
    .work ul {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(3, 1fr);
    }
    .work ul li {
        padding-bottom: 20px;
    }
}

@media only screen and (min-width: 992px) and (max-width: 1200px) {
    
    .work ul {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(3, 1fr);
    }
}